<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel='stylesheet' href='public/styles/style.css'>
</head>
<body>
	
	{% include 'header.tmpl' %}

	<div class="container">

	{% for product in products %}

	<div><a href='index.php?id={{product.id}}'><img src="public/{{product.path}}" alt="" class='img'></a></div>

	{% endfor %}

	</div>

	{% include 'footer.tmpl' %}

	
</body>
</html>